@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  background: black;
  --PhoneInputCountrySelectArrow-color: white;
  --PhoneInputCountrySelectArrow-opacity: 1;
  --PhoneInputCountrySelectArrow-borderWidth: 1.5px;
  --PhoneInputCountrySelect-marginRight: 0.55em;
  --PhoneInputCountryFlag-borderColor--focus: none;
}

.PhoneInputCountry {
  margin-right: 0;
  padding-right: var(--PhoneInputCountrySelect-marginRight);
}

.PhoneInputCountrySelectArrow {
  margin-left: var(--PhoneInputCountrySelect-marginRight);
}

.PhoneInputInput {
  background-color: #333333;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(255 255 255 / 1);
  border-color: rgb(107 114 128 / 1);
}

.PhoneInputInput:focus {
  --tw-ring-color: rgb(255 255 255 / 1);
  border-color:  rgb(255 255 255 / 1);
}
